@media (min-width: 992px){
    .SubmitArticle .container {
        max-width: 700px;
    }
}
.SubmitArticle .stepper-container{
    background: white;
    width: 100%;
    padding-top: 2vw !important;
    padding: 0vw 26vw;
    right: 0;
    top: 74px;
    position: fixed;
    height: 82px;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}
.SubmitArticle .is-danger{
    color: red;    
}
.SubmitArticle .stepper-container .lbl{
    color: white
}
.SubmitArticle{
    font-family: avenirNext;
}
.SubmitArticle .input-label{
    color: #002221;
    font-weight: 600;
    margin-bottom: 16px;
}
.SubmitArticle .form-control{
    background: #FFFFFF;
    border: 1px solid #dedada;
    border-radius: 17px;
    padding: 11px 0px;
}
.SubmitArticle .jumbotron {
    /* padding: 20vh 0 24vh 0; */
    color: #2c2c2d;
    background: white;
    /* background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .45)), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/a13.jpeg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 0; */
}
.SubmitArticle .success{
    text-align: center;
    /* height: -webkit-fill-available; */
}
.SubmitArticle .success span{
    color: #083533;
    font-weight: lighter;
}
.SubmitArticle h1 span{
    color: black;
    font-size: x-large;
}
.SubmitArticle label{
    color: white;
    font-size: x-large !important;
    margin: 10px 0px;
    font-weight: lighter !important;
}
.SubmitArticle select{
    width: 100%;
    height: 35px;
    font-weight: 300;
    border: 0;
    border-bottom: 1px solid #eaeaea;
    color: #9f9f9f;
    font-size: initial;
    font-weight: lighter;
}
.SubmitArticle .container{
    /* text-align: center; */
}
.SubmitArticle .desc input{
    padding: 103px;
}
.SubmitArticle .input-container{
    flex: 1 0 auto;
}
.SubmitArticle .url .label{
    color: red;
    background-color: transparent;
    border: solid 2px;
    border-color: white;
    border-radius: 2px;
    padding: 2px 12px;
}
.SubmitArticle .url .error{
    min-height: 30px;
    margin-top: 12px;
}
nav {
    background: transparent;
}

.SubmitArticle .lead {
    color: #bbb;
}

.SubmitArticle .w-640 {
    max-width: 750px;
}

.SubmitArticle button,

.SubmitArticle input {
    font-size: 15px;
    letter-spacing: .1ch;
}

.SubmitArticle input, .SubmitArticle span {
    /* min-width: 280px; */
    width: -webkit-fill-available !important;
}

.SubmitArticle h2 {
    font-weight: lighter;
    color: #7d7d7d;
    font-size: large;
}
.SubmitArticle h1{
    color: #0EBBB7;
    font-weight: 600;
}

.SubmitArticle .team-p {
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
}
.SubmitArticle label {
    font-size: 15px;
    font-weight: 400;
}

.SubmitArticle strong {
    font-weight: 500;
}

.SubmitArticle .display-4 {
    font-size: smaller;
    /* line-height: 4.5rem; */
}

.SubmitArticle .display-5 {
    font-size: 2.8rem;
}

.SubmitArticle .black-label{
    color: black;
}
.SubmitArticle .btn{
    border-radius: 24px;
}


.stepper {
    list-style: none;
    position: relative;
    margin: 3em auto;
  }
  
  .stepper, .stepper > li {
    background: #fff;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 0 1px #ccc;
  }
  
  .stepper, .stepper:before, .stepper:after  { 
    width: 100%;
    border-radius: 1em;
    display: block;
    height: 1em;
    background: #fff;
  }
  
  .stepper:before, .stepper:after {
    content: '';
    z-index: 2;
    position: absolute;
    border: none;
  }
  
  .stepper:after {
    background: #0ebbb7;
    border: .25em solid #fff;
    height: 1em;
    border-radius: 1em 0 0 1em;
  }
  
  .stepper > li {
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    position: absolute;
    top: -.25em;
    left: 50%;
    margin-left: -.75em;
    font-size: initial;
  }
  
  .stepper > li:first-child {
    left: 15%;
  }
  
  .stepper > li:last-child {
    left: 85%;
  }
  
  .stepper span {
    position: absolute;
    top: -2em;
    width: 10em !important;
    left: -4.25em;
    text-align: center;
    display: block;
    color: transparent; /*#c8c8c8*/
    font-family: 'Arial';
    font-size: initial;
  }
  
  .stepper span:before {
      content: '';
      background: white;
      position: absolute;
      border-radius: 100%;
      height: 1em;
      width: 1em;
      z-index: 3;
      left: 4.5em;
      top: 2.25em;
      border: .25em solid black;
  }
  
  .step1 .stepper li:nth-child(n+2) span:before, .step2 .stepper li:last-child span:before, .step1paypal_return .stepper li:last-child span:before {
    display: none;
  }
  
  .step1 .stepper li:first-child span, .step2 .stepper li:nth-child(2) span, .step1paypal_return .stepper li:nth-child(2) span, .step3 .stepper li:last-child span {
    color: black;
    font-family: inherit;
    font-weight: bold;
  }
  
  .step1 .stepper li:first-child span:before, .step2 .stepper li:nth-child(2) span:before, .step1paypal_return .stepper li:nth-child(2) span:before, .step3 .stepper li:last-child span:before {
    background: #fff;
  }
  
  .step1 .stepper:after {
    width: 15%;
    -webkit-animation: step1ulafter 1s; /* Safari 4+ */
    -moz-animation:    step1ulafter 1s; /* Fx 5+ */
    -o-animation:      step1ulafter 1s; /* Opera 12+ */
    animation:         step1ulafter 1s; /* IE 10+, Fx 29+ */ 
  }
  
  .step2 .stepper:after, .step1paypal_return .stepper:after {
    width: 50%;
    -webkit-animation: step2ulafter 1.5s; /* Safari 4+ */
    -moz-animation:    step2ulafter 1.5s; /* Fx 5+ */
    -o-animation:      step2ulafter 1.5s; /* Opera 12+ */
    animation:         step2ulafter 1.5s; /* IE 10+, Fx 29+ */ 
  }
  
  .step3 .stepper:after {
    width: 85%;
    -webkit-animation: step3ulafter 2.5s; /* Safari 4+ */
    -moz-animation:    step3ulafter 2.5s; /* Fx 5+ */
    -o-animation:      step3ulafter 2.5s; /* Opera 12+ */
    animation:         step3ulafter 2.5s; /* IE 10+, Fx 29+ */ 
  }
  
  @-webkit-keyframes step1ulafter {
      from { width: 0 }
      to   { width: 15% }
  }
  @-moz-keyframes step1ulafter {
      from { width: 0 }
      to   { width: 15% }
  }
  @-o-keyframes step1ulafter {
      from { width: 0 }
      to   { width: 15% }
  }
  @keyframes step1ulafter {
      from { width: 0 }
      to   { width: 15% }
  }
  
  @-webkit-keyframes step2ulafter {
      from { width: 15% }
      to   { width: 50% }
  }
  @-moz-keyframes step2ulafter {
      from { width: 15% }
      to   { width: 50% }
  }
  @-o-keyframes step2ulafter {
      from { width: 15% }
      to   { width: 50% }
  }
  @keyframes step2ulafter {
      from { width: 15% }
      to   { width: 50% }
  }
  
  @-webkit-keyframes step3ulafter {
      from { width: 50% }
      to   { width: 85% }
  }
  @-moz-keyframes step3ulafter {
      from { width: 50% }
      to   { width: 85% }
  }
  @-o-keyframes step3ulafter {
      from { width: 50% }
      to   { width: 85% }
  }
  @keyframes step3ulafter {
      from { width: 50% }
      to   { width: 85% }
  }
  
  @media (max-width: 400px) {
    .stepper {
      display: none;
    }
  }